SparseConvNetTorch/build/
PyTorch/sparseconvnet.egg-info/
PyTorch/sparseconvnet/SCN/__init__.py
ssc/suncg_data_tools/bak/
ssc/data/
build
.DS_Store

*.t7
*t7
*.o
*.a
*.so
__pycache__
pickle
*.pyc
*rar
*.rar.*
*tmp/
*.pdf
*data
*.csv
*.png
*.zip
*.npy
*.marshal
*.cPickle
*.json
*.simplejson
*.pickle
*.msgpack
*.hdf5
*msg/
*msg
*test/
*.ply
*.h5
